.histoire {
    margin: 4rem 6rem;
}

.histoire h1 {
    font-size: 3rem;
}

.histoire .h-content {
    font-size: 1.1rem;
    font-style: italic;
    columns: 18em;
    column-gap: 3em;
    column-rule: 1px solid gray;
    text-align: justify;
    hyphens: auto;
    margin-top: 3rem;
    box-shadow: -1px 1px 62px -30px rgba(0, 0, 0, 0.19);
    padding: 2rem;
}

@media screen and (max-width: 850px) {
    .histoire {
        margin: 4rem 2rem;
    }
}