@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Manrope:wght@400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Manrope', sans-serif;
}

/* css pour donation button  */
/* .ribbon {
  width: 60px;
  font-size: 14px;
  padding: 4px;
  position: absolute;
  right: 0px;
  top: 20px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(35deg);
  background-color: #ff9800;
  color: white;
  z-index: 9999999;
  
} */